<ion-header>

  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="goBack('producttabs/tabs/producttab1')">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="font-size: small;">Products by Catagory</ion-title>
    <ion-buttons slot="end" id="notify-btn" class="notification-btn">
      <ion-button slot="end" size="small" fill="clear">
        <ion-icon name="heart-outline" slot="end" tyle="font-size: larger;
        margin-right: 10px;"></ion-icon>

        <ion-badge color="danger" id="iosbadge" class="notify-badge ion-text-center" slot="end">
          {{1}}
        </ion-badge></ion-button>

      <ion-button size="small" fill="clear" color="primary" (click)="openCart()">
        <ion-icon name="cart-outline" slot="end"></ion-icon>
        <ion-badge color="danger" id="iosbadge" class="notify-badge ion-text-center" slot="end">
          {{1}}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" pager="true">
    <ion-slide>
      <img class=" d-block w-100" src="assets/homeImg/1.png" alt="First slide">

    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="assets/homeImg/2.png" alt="Second slide">

    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="assets/homeImg/3.png" alt="Third slide">

    </ion-slide>




  </ion-slides>

  <div class="main-content">
    <div class="collection_images mb-4">
      <img class="img-container" src="assets/homeImg/DESIGN 2.svg" alt="">
    </div>
    <!-- category -->
    <h3 class="text-center font-weight-bolder"><img class="heart" src="assets/homeImg/heart-64.png">Shop By Category<img
        class="heart" src="assets/homeImg/heart-64.png"></h3>
    <div class="flex-custom overflow-auto w-100 mb-4 p-2 display_div">
      <div class="accordion ml-auto mr-auto" *ngFor="let row of listByColour;let i=index">
        <div class="flex-grid cursor-pointer" (click)="getSelectedCollection(row)" style="text-align: center;">
          <img class="accordion_img colr_img border-0" [src]="row?.img" alt="" style="max-width:fit-content;">
          <label class="product-name mt-1" style="width: auto;">{{row?.colour}}</label>
        </div>
      </div>
    </div>

    <!-- essential -->
    <h3 class="text-center font-weight-bolder"><img class="heart" src="assets/homeImg/heart-64.png">Essentials For
      You<img class="heart" src="assets/homeImg/heart-64.png"></h3>
    <div class="flex-custom overflow-auto w-100 mb-4 p-2 display_div" style="text-align: center;">
      <div class="accordion ml-auto mr-auto" *ngFor="let row of listByStyle;let i=index">
        <div class="flex-grid cursor-pointer ml-12 mr-12" (click)="getSelectedCollection(row)">
          <img class="accordion_img circle_img" [src]="row?.img" alt="" style="max-width:fit-content;">
          <label class="product-name w-100 mt-1">{{row?.style }} Wear</label>
        </div>
      </div>
    </div>
  </div>

</ion-content>