.main-content {

    top: 125px;
    // position: relative;
    background: #ffffff;

    // background: rgb(227, 228, 219);
    .collection_images {
        // position: relative;
        overflow: hidden;
    }

    .img-container {
        // height: 420px;
        width: 100%;

        .caption {
            font-family: Tahoma;
            left: 30%;
            top: 15%;
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            color: #fff;
            z-index: 100;
            opacity: 1;
            width: 450px;
            text-align: left;
            padding: 15px;
        }
    }
}

.heart {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.accordion {

    //  border: 1px solid black;
    // padding: 0px 12px;
    .accordion_img {
        border: 1px solid #000;
        width: 200px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;

        &.cat_img {
            border: 1.5px solid #BBBBBB;
            width: 150px;
            height: 150px;
        }

        &.gift_img {
            border: none;
            width: 300px;
            height: 320px;
        }

        &.colr_img {
            // width: 325px;
            // height: 290px;
            width: 200px;
            height: 200px;
        }

        &.circle_img {
            border-radius: 50%;
            // width: 300px;
            // height: 320px;
            width: 200px;
            height: 200px;
            border: none
        }
    }

    .product-name {
        text-align: center;
        font-size: 16px;
        width: 224px;
        cursor: pointer;
        // display: flex;
        // flex-wrap: wrap;
    }

    .product-price {
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        // display: flex;
        // flex-wrap: wrap;
    }
}

.display_div {
    display: flex !important;
}

.notification-btn {
    position: relative;
    margin-right: 5px;

    ion-button {
        width: 50px;
    }

    ion-icon {
        font-size: 1.5rem;
        color: #444;
    }

    .notify-badge {
        position: absolute;
        left: 22px;
        width: 20px;
        height: 20px;
        padding: 4px;
        top: 0px;
        font-size: 12px;
        border-radius: 50%;
    }
}

.special-offers {
    .swiper-slide img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }

    ion-card.offer-card {
        min-height: 22vh;
        width: 100%;
        margin: 0 8px 8px 0;
        text-align: start !important;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid #ddd;

        ion-card-header {
            width: 100%;
            padding: 0 2px;

            ion-card-title {
                color: #797979;
                font-size: 0.8rem;
                font-weight: bold;
            }

            ion-card-subtitle {
                font-size: 0.6rem;
                color: #959595;
            }
        }

        ion-card-content {
            color: #787878;
            width: 100%;
            font-size: 0.7rem;
            padding: 6px 2px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
        }
    }
}





.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;

    .card {
        display: inline-block;
        margin: 0 0 0px 5px;
        width: 85%;
        max-width: fit-content;
    }
}

h3 {
    font-size: small;
    padding: 0px;
    margin: 0px;
}