<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83450790234-pvdsk0m32rmqrp8delveifcjc0209loo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83450790234-pvdsk0m32rmqrp8delveifcjc0209loo</string>
	<key>API_KEY</key>
	<string>AIzaSyAMBPoeB353zmxXm3kD1px_u_-4CcfE-4I</string>
	<key>GCM_SENDER_ID</key>
	<string>83450790234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mazelon.bocxy</string>
	<key>PROJECT_ID</key>
	<string>bocxy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bocxy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83450790234:ios:990e021446db2f29573363</string>
	<key>DATABASE_URL</key>
	<string>https://bocxy-app.firebaseio.com</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>fbapi</string>
    <string>fb-messenger-api</string>
    <string>fbauth2</string>
    <string>fbshareextension</string>
  </array>
</dict>
</plist>