<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="goBack('productpage')">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>All Products</ion-title>
    <ion-buttons slot="end" id="notify-btn" class="notification-btn">
      <ion-button slot="end" size="small" fill="clear">
        <ion-icon name="heart-outline" slot="end" tyle="font-size: larger;
        margin-right: 10px;"></ion-icon>

        <ion-badge color="danger" id="iosbadge" class="notify-badge ion-text-center" slot="end">
          {{1}}
        </ion-badge></ion-button>

      <ion-button size="small" fill="clear" color="primary" (click)="openCart()">
        <ion-icon name="cart-outline" slot="end"></ion-icon>
        <ion-badge color="danger" id="iosbadge" class="notify-badge ion-text-center" slot="end">
          {{1}}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>







<ion-content>
  <ion-list style="padding-top: 0px;">
    <ion-row>
      <ion-col *ngFor="let product of newProductList">
        <ion-card style="margin: 0;">
          <ion-row (click)="routeToDetails($event)">
            <ion-col>
              <img [src]="product.src">
              <!-- <ion-item class="product-item" lines="none">
                <ion-label><ion-icon name="star"></ion-icon>4.5</ion-label>
                <ion-label>250ml</ion-label>

              </ion-item> -->

              <ion-label>{{product.productname}}</ion-label><br>
              <ion-label style="font-size: small;font-weight: bold;"> <span
                  style="text-decoration: line-through;">Rs.{{product.strikeAmount}} </span><span
                  style="color: green;">{{product.discount}}%OFF</span></ion-label><br>
              <ion-label style="    font-weight: bold;
              color: black; font-size:medium">Rs.{{product.finalPrice}}</ion-label>
              <div class="product-item" style="text-align: center;
              border: black 1px solid;
              border-radius: 10px;">
                <ion-label style="border-right: black 1px solid;"><ion-icon name="star" style="color: yellow;
                    font-size: medium;
                    vertical-align: text-top;"></ion-icon>4.5 &nbsp;</ion-label>
                <ion-label style="font-weight: bold;">&nbsp;250ml</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col> -->
          <ion-item>

            <button style="    border-radius: 50px;
            width: 30px;
            height: 30px;" (click)="onWish(product)">
              <ion-icon name="heart" style="vertical-align: middle;color: red;font-size: larger;"
                *ngIf="product.isWishlist"></ion-icon>
              <ion-icon name="heart-outline" style="vertical-align: middle;font-size: larger;"
                *ngIf="!product.isWishlist"></ion-icon>

            </button>

            <ion-button>Add To
              Cart</ion-button>
            <!-- <span style="color: #222469;
            font-weight: bold;">(1)</span> -->
          </ion-item>
          <!-- </ion-col>
          </ion-row> -->

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6" (click)="openFilterPage(1)">
      <ion-button expand="block" style="margin: 0px;">Filter <ion-icon name="filter-outline"
          style="margin-left:10px"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="6" (click)="openFilterPage(2)"><ion-button expand="block" style="margin: 0px;">Sort By <ion-icon
          name="chevron-down-outline" style="margin-left:10px"></ion-icon></ion-button></ion-col>
  </ion-row>
</ion-footer>
<ion-content hidden>
  <div class="main-content">
    <div class="collection_images">
      <!-- <img class="img-container" src="assets/pendant.webp" alt=""> -->
      <img class="img-container" src="assets/homeImg/product_up.png" alt="">
    </div>
    <!-- <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" placeholder="Select all fruits that apply" [multiple]="true"
          [(ngModel)]="selectedCatogoryArray">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> -->
    <div class="filter-row mb-12" #stickyMenu [class.sticky]="sticky" hidden>
      <!-- [formGroup]="filterForm" -->
      <form class="w-100 btm-line" [formGroup]="filterForm">
        <div class=" flex-custom">
          <!-- Category filter list -->
          <div>
            <div class="filter-id mr-12 mb-12 drop" (click)="subMenuOpen('category')" id="category">Category</div>
            <div class="dropdown-content" [class.sticky-dropdown]="sticky">
              <!-- <mat-select multiple formControlName="category" (selectionChange)="checkdynamicData()">
                  <mat-option *ngFor="let row of categoryDropdownList" [value]="row" >{{row.field_name}}</mat-option>
                </mat-select> -->
              <ng-container *ngFor="let row of categoryDropdownList; let i= index">
                <div class="mb-1" *ngIf="row.count!=0">
                  <input type="checkbox" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
                    id="category{{i}}" (change)="getFilterData($event,row,'category')" class="" autocomplete="off"
                    [checked]="row.checked">
                  <label class="ml-3" for="category{{i}}">{{row?.field_name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- stone filter list -->
          <div>
            <div class="filter-id mr-12 mb-12 drop" (click)="subMenuOpen('stone')" id="stone">Stone</div>
            <div class="dropdown-content" [class.sticky-dropdown]="sticky">
              <ng-container *ngFor="let row of stoneDropdownList; let i= index">
                <div class="mb-1" *ngIf="row.count!=0">
                  <input type="checkbox" [(ngModel)]="selectedStone" id="stone{{i}}"
                    [ngModelOptions]="{standalone: true}" (change)="getFilterData($event,row,'stone')" class=""
                    autocomplete="off" [checked]="row.checked">
                  <label class="ml-3" for="stone{{i}}">{{row?.field_name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Price filter list -->
          <div>
            <div class="filter-id mr-12 mb-12 drop" (click)="subMenuOpen('price')" id="price">Price</div>
            <div class="dropdown-content" [class.sticky-dropdown]="sticky">
              <div class="flex-custom mb-3">
                <input type="text" formControlName="minPrice" [(ngModel)]="minValue" class="priceRange"
                  autocomplete="off" (keyUp)="changePrice($event,'min')"> -
                <input type="text" formControlName="maxPrice" [(ngModel)]="maxValue" class="priceRange"
                  autocomplete="off" (keyUp)="changePrice($event,'max')">
              </div>
              <!-- <ngx-slider [options]="slideOptions" (userChange)="filterByPrice($event,'price')" [(value)]="minValue" [(highValue)]="maxValue"></ngx-slider> -->
            </div>
          </div>
          <!-- Colour filter list -->
          <div class="">
            <div class="filter-id mr-12 mb-12 drop" (click)="subMenuOpen('colour')" id="colour">Color</div>
            <div class="dropdown-content" [class.sticky-dropdown]="sticky">
              <ng-container *ngFor="let row of colourDropdownList; let i= index">
                <div class="mb-1" *ngIf="row.count!=0">
                  <input type="checkbox" [(ngModel)]="selectedColour" id="colour{{i}}"
                    (change)="getFilterData($event,row,'colour')" class="" autocomplete="off" [checked]="row.checked"
                    [ngModelOptions]="{standalone: true}">
                  <label class="ml-3" for="colour{{i}}">{{row?.field_name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Colour filter list -->
          <div class="">
            <div class="filter-id mr-12 mb-12 drop" (click)="subMenuOpen('style')" id="style">Style
            </div>
            <div class="dropdown-content" [class.sticky-dropdown]="sticky">
              <ng-container *ngFor="let row of styleDropdownList; let i= index">
                <div class="mb-1" *ngIf="row.count!=0">
                  <input type="checkbox" [(ngModel)]="selectedStyle" [value]="row" id="style{{i}}"
                    (change)="getFilterData($event,row,'style')" class="" autocomplete="off" [checked]="row.checked"
                    [ngModelOptions]="{standalone: true}">
                  <label class="ml-3" for="style{{i}}">{{row?.field_name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="">
            <div class="filter-id mr-12 mb-12 drop" (click)="subMenuOpen('for')" id="for">For</div>
            <div class="dropdown-content" [class.sticky-dropdown]="sticky">
              <ng-container *ngFor="let row of forDropdownList; let i= index">
                <div class="mb-1">
                  <input type="checkbox" [(ngModel)]="selectedFor" id="for{{i}}"
                    (change)="getFilterData($event,row,'for')" class="" autocomplete="off" [checked]="row.checked"
                    [ngModelOptions]="{standalone: true}">
                  <label class="ml-3" for="for{{i}}">{{row?.field_name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="ml-auto">
            <div class="filter-id mb-12 drop" (click)="subMenuOpen('sortBy')" id="sortBy">SORT BY: {{sortByFilter}}
            </div>
            <div class="dropdown-content w-auto txt-centre" [class.sticky-dropdown]="sticky">
              <ng-container *ngFor="let row of sortByDropdownList; let i= index">
                <div class="sort_list mb-1">
                  <label class="ml-3 mr-3" (click)="getSortByFilter(row,'sortBy')">{{row?.field_name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="flex-custom mb-12" *ngIf="selectedFilterList && selectedFilterList.length">
          <button class="btn btn-secondary mr-12" (click)="clearAllFilter()" *ngIf="selectedFilterList.length!=1">
            Clear All
          </button>
          <div class="globo-selected" *ngFor="let row of selectedFilterList" (click)="getFilterData('',row,'remove')">
            {{row.item_id}}<img class="d-arrow mt-1" src="/assets/close.svg" alt="">
          </div>
        </div>
      </form>
    </div>
    <label class="prdt-count"><b>{{productList ? productList.length : 0}}</b> Products</label>
    <div class="content-details">
      <div class="accordion mb-4  ml-auto mr-auto" *ngFor="let row of productList;let i=index">
        <div class="flex-grid cursor-pointer" (click)="routeToDetails(row)">
          <img class="accordion_img" [src]="row?.productImages[0]" alt="">
          <label class="product-name mt-1">{{row?.productName | titlecase}}</label>
          <div class="product-price">
            <label class="mr-12">{{row?.discountPrice | currency:'INR'}}</label>
            <s class="grey-text">{{row?.actualPrice | currency:'INR'}}</s>
          </div>
        </div>
      </div>
      <div *ngIf="!productList.length">
        <span>No product found.</span>
      </div>
    </div>

  </div>
  <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true"></ngx-spinner> -->
</ion-content>