<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack('product-collection')">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="accordion_img mb-3" [src]="currentImageNew" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-slides #homeSlider paginationType="bullets" [options]="slideOpts" pager="true">
          <ion-slide *ngFor="let pic of imagelist">
            <img class="w-50 cursor-pointer" [src]="pic.src" alt="" [class.border]="pic.active"
              (click)="selectImage(pic)">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <div style="text-align: center;">
      <ion-label style="font-size: small;font-weight: bold;"> <span style="text-decoration: line-through;">Rs.{{3999}}
        </span><span style="color: green;">{{10}}%OFF</span></ion-label><br>
      <ion-label>Rs.2999</ion-label><br>
    </div>
    <ion-row>
      <ion-col size="6" style="text-align: center;">
        <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon>ADD TO WISHLIST</ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: center;">
        <ion-button fill="clear"><ion-icon name="share-social-outline"></ion-icon>SHARE</ion-button>
      </ion-col>
    </ion-row>
    <div>
      <img [src]="'../../assets/homeImg/deliverytag.png' ">
    </div>
    <ion-card>
      <ion-card-header>DELIVERY OPTIONS</ion-card-header>
      <ion-row>
        <ion-col>
          <ion-icon name="location-outline" class="ion_style" style="vertical-align: middle;"></ion-icon>
          <ion-label>Pin Code:400086</ion-label>
          <ion-button fill="outline" style="height: 20px;vertical-align: middle;">Change</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-icon name="car-outline" class="ion_style" style="vertical-align: middle;"></ion-icon>
          <ion-label>Expected delivery by Mon,18 Sep</ion-label>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label>SPECIAL OFFER</ion-label>
        <ion-icon name="add-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>PRODUCT DESCRIPTION</ion-label>
        <ion-icon name="add-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>SHIPPING DETAILS</ion-label>
        <ion-icon name="add-outline"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-card-header>Top Reviews(1)
      </ion-card-header>
      <ion-card>
        <ion-card-header style="padding-bottom: 0px;">shan <ion-icon name="checkmark-circle-outline"> Trusted Shopper
          </ion-icon></ion-card-header>
        <ion-card-subtitle style="padding-left: 16px;"><ion-icon class="ion_style"
            name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></ion-card-subtitle>
        <ion-card-content>good</ion-card-content>
      </ion-card>
    </ion-card>

  </ion-grid>
</ion-content>