<ion-tabs>
  <ion-tab-bar color="light" slot="bottom">
    <ion-tab-button tab="producttab1" class="tab-home">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>products</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-home" (click)="goToHome()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="producttab3" class="tab-home">

      <ion-icon name="help-buoy"></ion-icon>
      <ion-label>supports</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="producttab3" class="tab-home">

      <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
      <ion-label>more</ion-label>
    </ion-tab-button>
    <!-- 
    <ng-container *ngIf="skipLogin;else enableTab3">
      <ion-tab-button (click)="gotoLogin($event)" class="tab-mybookings">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>{{'TAB_MENU_ITEMS.BOOKINGS' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="gotoLogin($event)" class="tab-profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{'TAB_MENU_ITEMS.PROFILE' | translate}}</ion-label>
      </ion-tab-button>
    </ng-container>
    <ng-template #enableTab3>
      <ion-tab-button tab="tab3">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>{{'TAB_MENU_ITEMS.BOOKINGS' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab4">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{'TAB_MENU_ITEMS.PROFILE' | translate}}</ion-label>
      </ion-tab-button>
    </ng-template> -->
  </ion-tab-bar>

</ion-tabs>
<!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>

    <ion-icon name="home-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="logo-vimeo"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->